<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqf.office.mapper.OfLeaveMapper">

    <select id="selectLeaveDurationByType" resultType="java.util.Map">
        SELECT leave_type AS leaveType, SUM(duration) AS duration
        FROM `so-office`.of_leave
        WHERE user_name = #{username} and start_date &gt;= #{start} and start_date &lt;= #{end} and status = 3
        GROUP BY leave_type
    </select>
</mapper>
